<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Characterization">
            <directory>tests/Characterization</directory>
        </testsuite>
        <testsuite name="Snapshot">
            <directory>tests/Snapshot</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Smoke">
            <directory>tests/Smoke</directory>
        </testsuite>
        <testsuite name="Eval">
            <directory>tests/Eval</directory>
        </testsuite>
    </testsuites>
</phpunit>
